# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# ENV & CONFIG
.env
config/db.php

# Private files
.private/

# Database dumps
*.sql
*.db
*.sqlite

# Uploads 
uploads/

# Logs
*.log

# Cache / temp
.tmp/
.temp/
cache/

# Composer 
vendor/

# Build
dist/
build/